Source: opsi4ucs
Section: opsi
Priority: optional
Maintainer: uib GmbH <info@uib.de>
Build-Depends: debhelper (>= 4.0.0)
Standards-Version: 3.6.1

Package: opsi4ucs-ldap-schema
Section: opsi
Architecture: all
Depends: 
Description: opsi software deployment ldap extension for ucs
 opsi4ucs integrates opsi into an ucs server.
 .
 http://www.opsi.org

Package: opsi4ucs
Section: opsi
Architecture: all
Depends: univention-client-boot-pxe, python-opsi (>=3.99), opsiconfd (>=3.99), opsipxeconfd (>=3.99), opsi-utils (>=3.99), opsi-linux-bootimage (>=20100901), opsi-configed, samba, dhcp3-server, sudo, wget
Description: opsi software deployment for ucs
 opsi4ucs integrates opsi into an ucs server.
 .
 http://www.opsi.org
