#!/usr/bin/make -f
# -*- makefile -*-

# Copyright (C) 2018 uib GmbH
# http://www.uib.de
# All rights reserved.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

# This has to be exported to make some magic below work.
export DH_OPTIONS


override_dh_auto_install:
	univention-install-config-registry
	dh_auto_install


%:
	dh $@ --with-python2